<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <title>Raffle generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/raffle.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
</head>
</html>